<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="org.SOC.domain" />
	</typeAliases>

</configuration>

<!-- <typeAliases> <typeAlias alias="boardVO" type="com.tistory.board.BoardVO"/> 
	</typeAliases> -->

<!-- <typeAliases> <package name="org.zerock.domain" /> </typeAliases> -->



